
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}
:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
    }

    html {
        font-size: 62.5%;
        overflow-x: hidden;
    }


body {
    background: var(--bgcolor);
    color:var(--text-color);
}


section {
    min-height: 100vh;
    padding: 8rem 13% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 11.5%;
    background: var(--second-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0,0,0, .2);
}


.logo {
    width: 50px;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: SlideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}




.home {
  
    background: var(--second-bg-color) url('./img/background.png');
    background-position: center;
    background-repeat: no-repeat;
  

}


.home-content {

    margin: auto;
  
  }

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    
    animation: SlideBottom 1s ease forwards;
    animation-delay: .7s;
    color: var(--text-color);
    margin-top: 50px;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
    animation: SlideTop 1s ease forwards;
    animation-delay: .7s;
}


span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: SlideRight 1s ease forwards, DesignColor 5s ease-in-out infinite;
   animation-delay: 1s;
   color: var(--main-color);
   text-shadow: 3px 2px 0px gray;

}


.home-content p {
    margin: 30px 30px 30px 0;
    font-size: 2.6rem;
    
    animation: SlideLeft 1s ease forwards;
    animation-delay: .7s;
    line-height: 3.5 rem;

    color: var(--text-color);
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: SlideTop 1s ease forwards;
    animation-delay: 2s;

}
  .btn-pulse {
    display: inline-block;
    padding: 12px 28px;
    background: transparent;
    border-radius: 40px;
    /* box-shadow: 0 0 10px #0ef; */
    font-size: 16px;
    color: var(--main-color);
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    /* animation: SlideTop 3s, pulse 3s infinite; */
    border: 1px solid #0ef;
    cursor: pointer;
    transition: all .4s ease;
    margin-top: 20px;


  }
  .btn-pulse:hover,
  .footer-iconTop a i:hover  {
     background-color: #0ef;
     color: #000000;
  }


.button-hover {
    border: none;
    background: none;
    display: inline-block;
    cursor: pointer;
   /* font-size: 2rem;*/
    position: relative;
    text-decoration: none;
    border-radius: 40px;
    background: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
    font-size: 16px;
    color:  black;
    letter-spacing: 1px;
    font-weight: 600;
    opacity: 0;
    animation: SlideTop 1s ease forwards;
    animation-delay: 2s;
    padding: 12px 28px;
}

.button-hover::before {
    content: '';
    position: absolute;
    left: 0;
    height: 4px;
    top: 0;
    width: 0;
    background-color: #1f242d;
    transition: 0.5s ease;
    padding: -12px -28px;
    border-radius: 40px;


}

.button-hover:hover::before {
    width: 80%;
    left: 18px;
    border-radius: 50px;
    box-shadow: 0 0 10px #1f242d;


}

.button-hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #1f242d;
    transition: 0.8s ease;
    z-index: -1;
    border-radius: 40px;
    box-shadow: 0 0 10px #1f242d;


}

.button-hover:hover::after {
    height: 100%;
    transition-delay: 0.5s;

}
.button-hover:hover {
    color:var(--main-color);
    transition-delay: .10s;
}
section .home-img  {
    max-width: 800px;
    display: flex;
   justify-content: right;
}

section .home-img img {
    
    border-right: 5px solid  #0ef;
    border-bottom: 5px solid #0ef;
    border-radius: 10px;
    box-shadow: 8px 1px 10px rgb(46, 52, 52);
    width: 70%;
  
  

}

/* About */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: var(--bg-color);
    padding: 0 18rem 0 20rem;


}

.about-img {
    width: 35vw;
    display: flex;
    justify-content: center;

}

.about-img img {
    width: 25rem;
    border-radius: 50%;
    transition: 1s ease-in-out;

    box-shadow: -5px 3px 0px cadetblue;

}
.about-img img:hover{
    transform: scale(1.1);
}
.heading {
    text-align: center;
    font-size: 4.5rem;
    margin: 8rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
    /* animation: DesignColor 5s ease-in-out infinite; */
    /* text-shadow: 3px 2px 0px gray; */
    margin: 0 0 8rem 0;
}

.about-content h3 {
    font-size: 2.6rem;
}
.about-content p {
    font-size: 2rem;
    margin: 0 0 3rem;
    line-height: 3.5rem;


}

/* =================== section portfolio =========================*/

.portfolio {

    background: var(--second-bg-color);

}

.portfolio h2 {
    margin-top: 8rem;
    margin-bottom:4rem ;
}
.portfolio h6 {
    margin-top: 8rem;
    margin-bottom:4rem ;
    text-align: center;
    font-size: 2.8rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1), #274244);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {

    transform: translateY(0);
}
.portfolio-layer h4 {
    font-size: 1.5rem;
}

.portfolio-layer p {
    font-size: 1.2rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

/* ================== section contact ==================== */

.contact {
    background: rgb(20, 10, 20);
}

.contact h2 {
    margin-top: 4rem;
    margin-bottom: 3rem;
    /* animation: DesignColor 5s ease-in-out infinite; */
    /* text-shadow: 3px 2px 0px gray; */
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;

}

.contact form .input-box {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.btn {
    margin-top: 2rem;
    cursor: pointer;


}

.social-media.social-media-contact {
    display: flex;
    justify-content: center;
    align-items: center;

}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    /* background: transparent; */
    border: 2px solid var(--main-color);
    border-radius: 50px;
    font-size: 20px;
    color: var(--main-color);
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 1;
    /* opacity: 0; */
    /* animation: SlideLeft 1s ease forwards, DesignColorNew 3s infinite; */
    /* animation-delay: calc(.2s * var(--i)); */

}

.social-media a:hover {
    background: #0ef;
    color: black;
}


/* ==================  Footer ============= */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 15%;
    background: var(--second-bg-color);

}


.footer-text p {
    font-size: 1.6rem;
    transition: .3s ease;
    cursor: pointer;
    text-align: center;
    /* animation: DesignColor 5s ease-in-out infinite; */

}

.footer-text p:hover {
    color: var(--main-color);

}
.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: #0ef;
    border-color: #0ef;
    border-radius: .8rem;
    transition: .5s ease;
    margin: 10px;


}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
    background: transparent;
 }
 .footer-iconTop a i:hover {
    background: transparent;
    color: #0ef;
 }

.footer-iconTop a i {
    font-size: 2.4rem;
    color: #000000;
}



/* ================= keyframes animation ==================== */



@keyframes Background {
    0% {
        background: rgb(23, 23, 23);
    }

    25% {
        background: rgb(20, 20, 20);
    }

    50% {
        background: rgb(12, 12, 12);
    }

    75% {

        background: rgb(18, 18, 18);

       }

    100% {
        background: rgb(29, 28, 28);

    }
}

@keyframes DesignColor {
    0% {
        color: var(--text-color);

    }


    50% {
        color: var(--main-color);

    }
    100% {
        color:  var(--text-color);


    }
}

@keyframes DesignColorNew {
    0% {
     background: transparent;

    }

    50% {
        background: transparent;
        box-shadow: 0 0 20px var(--main-color);
        }

    100% {
        background: var(--main-color);
        color: #1f242d;
        box-shadow: 0 0 40px var(--main-color);
    }
}

@keyframes SlideRight {
    0% {
        transform: translate(-100px);
        opacity: 0;
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes SlideLeft {
    0% {
        transform: translate(100px);
        opacity: 0;
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes SlideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes SlideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes pulse {

    From {
         /* transform:scale(1);
         opacity: 1; */
         box-shadow: 0 0 5px var(--text-color);
     }

     To {
         /* transform: scale(2);
         opacity: .6; */
         box-shadow: 0 0 30px var(--main-color);
     }
 }
/* ============================== Breakpoints ========================== */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {


    .header {

        padding: 2rem 11.5%;
    }

    section {
        padding: 10rem 12% 2rem;
    }

    .services {
        padding-bottom: 7rem;
    }
    .home {
        padding-top: 12rem;
        width: 100%;
    }

    .home-content h3 {
        font-size: 2.2rem;
    }
    .home-content h1 {
        font-size: 4rem;
    }

    .home-content .btn-pulse {
     
        padding: 8px 18px;
    }
    
  

    .about-content {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .portfolio {
        padding-top: 4rem;
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0, .2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    section {
        min-height: auto;
     }
     .home {
 
         background: var(--second-bg-color)
         
     }
   
    .home-content {
       width: 100%;
       text-align: center;
    }

    .home-content h1    {
        font-size: 4.5rem;
        margin: 2rem 0 2rem;
    }
    .home-content p {
        font-size: 2rem;
        line-height: 2;
        margin-bottom: -1rem;
    }

    .home-img {
        display: none;
      

    }
     .home-img img {
        display: none;
     }
    .about {

        flex-direction: column-reverse;
        padding-top: 10px;
    }
    
    .about-content h2 {
       
    margin: 0 0 8rem 0;
    }
    .about-content p {
       
        text-align: center;
    }
    .about-img {
        width: 55vw;
        margin-top: -4rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }
    .portfolio {
        padding-top: 8rem;

    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
        margin: 15px;
    }
    .heading {

        font-size: 3.5rem;

    }
}

@media (max-width: 617px){

    section {
        height: auto;
    }
    .home {

      background: var(--second-bg-color);
    }
  

    .home-content {
        width: 100%;
        text-align: center;
    }
    .home-img, .home-img img  {
        display: none;
      

    }
    .about
    {

        padding: 80px 70px;
    }
    /* .about-content {
        padding-top: 6rem;


    } */
    .portfolio-container {
        grid-template-columns: 1fr;
    }
    .contact form {
        max-width: 40rem;
      }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    section {
        min-height: auto;
    }

    .home {

        background: var(--second-bg-color)
    }


    .about-img {
        width: auto;
        justify-content: center;
        align-items: center;

    }

    .about-img img {
        width: 50vw;


    }
    .portfolio {
        padding-top: 8rem;

    }
    .contact form {
        max-width: 35rem;

      }
    .contact form .input-box input {
        width: 100%;
    }

}



@media (max-width: 365px) {
    section {
       min-height: auto;
    }
    .home {

        background: var(--second-bg-color)
        
    }
    .home-content {
       margin: auto;
    }
  
        .home-content h1 {
            font-size: 4rem;
            margin: 2rem 0 2rem;
        }
        .home-content p {
            font-size: 2rem;
            line-height: 1.5;
            margin: auto;
        }
        .btn {
            margin: 0;
            cursor: pointer;
        }
    /* .about-content {
        padding-top: 5rem;

    } */

    .about-img img {
        width: 60vw;

    }
    .portfolio {
        padding-top: 8rem;

    }
    .contact h2 {
        margin-top: 4rem;

    }

      .footer{
          flex-direction: column-reverse;
      }
     .footer p {
         text-align: center;
         margin-top: 2rem;
     }

}